.sidebar {
  background-color: #343a40;
  color: white;
  height: 100vh;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar h4 {
  color: #ffc107;
  margin-bottom: 30px;
}

.sidebar .nav-link {
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  background-color: #495057;
  color: #ffc107;
  font-weight: 500;
  text-decoration: none;
}


.member-layout {
  min-height: 100vh;
  background-color: #f8f9fa;
}

.card-header {
  font-size: 1rem;
  background-color: #f1f1f1;
}

.card-body p {
  margin-bottom: 0.5rem;
}